/* Start custom CSS */h2 a {
font-family: 'Clash Display', sans-serif !important; 
font-weight: 600;
}
.elementor-post__badge{
 font-family: 'Clash Display', sans-serif !important; 
font-weight: 500;   
}



body{
    background-color: #121212;
}/* End custom CSS */