.elementor-2976 .elementor-element.elementor-element-007b345 > .elementor-container{max-width:1440px;}.elementor-2976 .elementor-element.elementor-element-007b345:not(.elementor-motion-effects-element-type-background), .elementor-2976 .elementor-element.elementor-element-007b345 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#121212;}.elementor-2976 .elementor-element.elementor-element-007b345{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:19px 120px 19px 120px;}.elementor-2976 .elementor-element.elementor-element-007b345 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-2976 .elementor-element.elementor-element-6c33018{font-family:"Manrope", Sans-serif;font-size:14px;font-weight:700;text-decoration:none;line-height:20px;color:#3D3D3D;}.elementor-2976 .elementor-element.elementor-element-6c33018 a{color:#828585;}.elementor-2976 .elementor-element.elementor-element-790ac6b > .elementor-container{max-width:1440px;}.elementor-2976 .elementor-element.elementor-element-790ac6b{padding:0px 120px 0px 120px;}.elementor-2976 .elementor-element.elementor-element-f530467{color:#DBDBDB;font-family:"Manrope", Sans-serif;font-size:20px;font-weight:500;line-height:32px;}.elementor-2976 .elementor-element.elementor-element-e281301{color:#FFFFFF;font-family:"Manrope", Sans-serif;font-size:20px;font-weight:600;line-height:32px;}.elementor-2976 .elementor-element.elementor-element-7446824 .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 0.66 * 100% );}.elementor-2976 .elementor-element.elementor-element-7446824:after{content:"0.66";}.elementor-2976 .elementor-element.elementor-element-7446824 .elementor-post__thumbnail__link{width:100%;}.elementor-2976 .elementor-element.elementor-element-7446824{--grid-column-gap:30px;--grid-row-gap:0px;}.elementor-2976 .elementor-element.elementor-element-7446824.elementor-posts--thumbnail-left .elementor-post__thumbnail__link{margin-right:20px;}.elementor-2976 .elementor-element.elementor-element-7446824.elementor-posts--thumbnail-right .elementor-post__thumbnail__link{margin-left:20px;}.elementor-2976 .elementor-element.elementor-element-7446824.elementor-posts--thumbnail-top .elementor-post__thumbnail__link{margin-bottom:20px;}.elementor-2976 .elementor-element.elementor-element-7446824 .elementor-post__title, .elementor-2976 .elementor-element.elementor-element-7446824 .elementor-post__title a{color:#FFFFFF;font-family:"Manrope", Sans-serif;font-size:16px;font-weight:700;line-height:24px;}.elementor-2976 .elementor-element.elementor-element-5556cd8{color:#FFFFFF;font-family:"Manrope", Sans-serif;font-size:20px;font-weight:600;line-height:32px;}.elementor-2976 .elementor-element.elementor-element-5556cd8 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:64px 0px 16px 0px;border-style:solid;border-width:0px 0px 1px 0px;border-color:#242424;}.elementor-2976 .elementor-element.elementor-element-d8f14ff > .elementor-widget-container{border-style:solid;border-width:0px 0px 1px 0px;border-color:#242424;}@media(max-width:1024px){.elementor-2976 .elementor-element.elementor-element-007b345{padding:19px 84px 19px 84px;}.elementor-2976 .elementor-element.elementor-element-790ac6b{padding:0px 84px 0px 84px;}.elementor-2976 .elementor-element.elementor-element-e281301{font-size:24px;}.elementor-2976 .elementor-element.elementor-element-7446824 .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 0.66 * 100% );}.elementor-2976 .elementor-element.elementor-element-7446824:after{content:"0.66";}.elementor-2976 .elementor-element.elementor-element-5556cd8{font-size:24px;}}@media(max-width:767px){.elementor-2976 .elementor-element.elementor-element-007b345{padding:16px 20px 18px 20px;}.elementor-2976 .elementor-element.elementor-element-790ac6b{padding:0px 20px 0px 20px;}.elementor-2976 .elementor-element.elementor-element-7446824 .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 0.5 * 100% );}.elementor-2976 .elementor-element.elementor-element-7446824:after{content:"0.5";}.elementor-2976 .elementor-element.elementor-element-7446824 .elementor-post__thumbnail__link{width:100%;}}@media(min-width:768px){.elementor-2976 .elementor-element.elementor-element-0add36a{width:60%;}.elementor-2976 .elementor-element.elementor-element-b089736{width:40%;}}@media(max-width:1024px) and (min-width:768px){.elementor-2976 .elementor-element.elementor-element-0add36a{width:100%;}.elementor-2976 .elementor-element.elementor-element-b089736{width:100%;}}/* Start custom CSS */h2, h1 {
    font-family: 'Clash Display', sans-serif !important;
    font-weight: 600;
    color: #FFFFFF;
}
 
 
 
 
 
 
 
 




.body_sec img.attachment-full.size-full, .sidebar img.attachment-full.size-full {
    width: 100% !important;
    height: 100% !important;
}


.sidebar .elementor-posts .elementor-post, .elementor-posts .elementor-post__card {
 
    display: flex;
    flex-direction: row;
        column-gap: 16px;
  
}



.body_sec .elementor-post__text {
    padding: 0px !important;
}



.sidebar a.elementor-post__thumbnail__link {
    width: 118px !important;
    height: 74px;
}
.sidebar .elementor-post__thumbnail__link {
    margin-bottom: 0px !important;
}




@media screen and (min-width:1920px){
    .bread, .body_sec {
            padding: 0px 323px 0px 323px !important;
    }    .body_sec
{column-gap: 80px !important;}

}


@media screen and (min-width:1025px){
    .body_sec .elementor-column-gap-default {
    column-gap: 50px !important;
}}


@media screen and (max-width:1024px) and (min-width:769px){.bread, .body_sec {
    padding: 0px 62px !important;
}.body_sec .elementor-grid-tablet-2 .elementor-grid {
 
    flex-direction: column-reverse !important;
    display: flex !important;
}.elementor-container.elementor-column-gap-default {
flex-wrap: nowrap !important;
}
   }

@media screen and (max-width:768px){.elementor-grid-tablet-2 .elementor-grid {
   
    display: flex !important;
    flex-direction: column !important;
}}



.elementor-post-navigation .elementor-post-navigation__link a{
    align-items: start !important;
}

span.post-navigation__prev--label {
    margin-left: 10px;
}
span.post-navigation__arrow-next--label {
    margin-left: -10px;
}

span.post-navigation__arrow-wrapper.post-navigation__arrow-prev:before {
    content: "";
    background-image: url('https://site.collectorcrypt.com/wp-content/uploads/sites/21/2022/11/left-icon.png');
    position: absolute;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    margin-top: 3px;
    
}



span.post-navigation__arrow-wrapper.post-navigation__arrow-next:before{
       content: "";
    background-image: url('https://site.collectorcrypt.com/wp-content/uploads/sites/21/2022/11/right-icon-e1669232652135.png');
    position: absolute;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    margin-top: 3px;
    
    
}
p.wp-block-tag-cloud a {
    font-size: 14px !important;
    font-weight: 600;
    font-family: 'Manrope';
    line-height: 20px;
    margin: 0px 12px;
}/* End custom CSS */